.discover-button {
	padding: 10px;
	background-color: var(--main-bg-color);
	font-size: 1.7em;
	color: white;
	font-weight: 400;
	cursor: pointer;
	text-align: center;
	height: 220px;
	width: 220px;
	border-radius: 220px;
	line-height: 45px;
	display: table-cell;
	vertical-align: middle;
	transition: all 0.3s;
}

.discover-button:hover {
	box-shadow: 3px 3px 1px rgba(215, 215, 215, 1);
}
