.title-container {
	font-size: 2em;
	height: 3em;
	width: 100%;
	background-color: var(--main-bg-color);
	display: flex;
	align-items: center;
	justify-content: center;
	box-shadow: 0px 5px 7px #888888;
	padding: 5px;
}

.home-button-transition {
	flex: 1;
}

.title {
	text-align: right;
	color: white;
	font-weight: bolder;
	margin-right: 25px;
}
